
body {
    background: #F5F5F5 none repeat scroll 0 0; 
    font-family: "Roboto",sans-serif; 
    margin: 0;
	color: #1a1717; 
    font-size: 18px;
    font-weight: 300;
}

a {
    color: #99A4A8;
    text-decoration: none;
    transition: color 400ms ease 0s, background-color 400ms ease 0s;
}

a:hover {
    color: #90DEFC; 
}

img {
    border: 0 none;
    max-width: 100%;
}

h1.title,
h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 400;
    margin: 30px 0;
    text-transform: uppercase;
}

h3 {
    color: #272727;
    font-family: "Roboto",sans-serif;
    font-size: 35px;
    font-weight: 400;
    margin: 30px 0;
    text-transform: capitalize;
}

ol {
    margin: 30px 0;
    padding: 0;
}

ol li {
    list-style: outside none none;
    padding: 0 0 10px 21px;
    position: relative;
}

ol li::after {
    background: #99A4A8 none repeat scroll 0 0;
    border: 2px solid #90defc;
    border-radius: 20px;
    content: "";
    height: 8px;
    left: 0;
    margin-left: 0;
    position: absolute;
    top: 4px;
    width: 8px;
}

.container {
    margin: 0 auto;
    width: 1024px;
}

#block-block-1 {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
	overflow: hidden; 
}

#header {
    position: relative;
}

.block.block-system.block-menu {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    box-shadow: 0 0 3px #000;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.block.block-system.block-menu .content {
    margin: 0 auto;
    overflow: hidden;
    width: 1024px;
}

.block.block-system.block-menu ul {
    float: right;
    margin: 0; 
    padding: 0; 
}

.block.block-system.block-menu ul li {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.block.block-system.block-menu ul li a.active, .block.block-system.block-menu ul li a:hover {
    background: #AFB1B2 none repeat scroll 0 0;
    border-top: 10px solid #99A4A8;
    padding-top: 30px;
	color: #000;
}

.block.block-system.block-menu ul li a {
    color: #fff;
    display: block;
    padding: 40px 10px; 
}

.logo-content h1,
.logo-content p{
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.logo-content {
    color: #fff;
    font-size: 42px;
    font-weight: 500;
    left: 50%;
    margin-left: -500px;
    position: absolute;
    top: 30%;
    width: 1000px;
    padding-top:65px;
}

.logo-right {
    margin-top: 24px;
}

.logo-content h1{
    font-size: 70px;
}

.logo-content h1 a {
    color: #fff;
}

.logo-content p {
    font-size: 66px;
}

.logo-content > a {
    float: left;
    width: 200px;
}

.button-wrapper {
    clear: both;
    padding-top: 30px;
    text-align: center;
}

a.btn.blue.big:hover{
    background: #2A95BE none repeat scroll 0 0;
}

a.btn.blue.big {
    background: #99A4A8 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin: 0 10px;
    padding: 10px 24px; 
}

#main {
    padding: 50px 0 100px;
}

#sponsors h2 {
    position: relative;
    text-align: center;
}

#sponsors h2::before {
    background: #000 none repeat scroll 0 0;
    bottom: -23px;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -160px;
    position: absolute;
    width: 320px;
}

#sponsors h2::after {
    background: #99A4A8 none repeat scroll 0 0;
    border: 5px solid #90defc;
    border-radius: 20px;
    bottom: -35px;
    content: "";
    height: 16px;
    left: 50%;
    margin-left: -12px;
    position: absolute;
    width: 16px;
}

#sponsors .content .sponsors-filter {
    display: inline-block;
    list-style: outside none none;
    margin: 0 0 50px;
    padding: 0;
}

#sponsors .sponsors-filter > li {
    display: block;
    float: left;
}

#sponsors .sponsors-filter > li a {
    background: #e5e5e5 none repeat scroll 0 0;
    color: #64686d;
    display: block;
    font-size: 16px;
    padding: 7px 15px;
    position: relative;
    text-transform: capitalize;
}

#sponsors .sponsors-filter > li:first-child a {
    border-radius: 4px 0 0 4px;
}

#sponsors .sponsors-filter > li a:hover, #sponsors .sponsors-filter > li a.active {
    background: #99A4A8 none repeat scroll 0 0;
    box-shadow: 0 -3px 0 0 #318daf inset;
    color: #fff;
}

#sponsors .sponsors-filter > li a.active::after {
    border-color: #318daf transparent transparent;
    border-style: solid;
    border-width: 10px;
    bottom: -17px;
    content: " ";
    left: 50%;
    margin-left: -10px;
    position: absolute;
}

#sponsors .content div.sponsors-item {
    display: table;
    float: left;
    height: 160px;
    min-width: 200px;
    padding: 0 20px;
}

#sponsors .content .sponsors-item-inner {
    display: table-cell;
    vertical-align: middle;
}

#sponsors .content {
    margin: 0 auto;
    overflow: hidden;
    padding: 30px 0 0;
    text-align: center;
    width: 1000px;
}

.sponsors-block .content img {
    height: auto;
    max-width: 200px;
}

#sponsors h3.sponsors-item {
    border-bottom: 1px solid #e5e5e5;
    clear: both;
    color: #99A4A8;
    display: block;
    float: left;
    font-size: 25px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 10px;
    text-align: left;
    text-transform: capitalize;
    width: 100%;
}

#sponsors {
    background: #fff none repeat scroll 0 0;
    padding: 10px 0;
}

.parking-block  .content-left {
    float: left;
    max-width: 400px;
}

.parking-block .content-right {
    float: right;
}

.parking-block{
    background: rgba(0, 0, 0, 0) url("../images/car-park.jpg") repeat scroll 0 bottom;
	background-size: 100% auto; 
}

.parking-block .inner-content {
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 50px;
    text-align: left;
    width: 1000px;
}

.parking-block h3{
    color: #fff;
    margin-top: 15px;
}

#sponsors .parking-block .content {
    background: rgba(10, 10, 10, 0.6) none repeat scroll 0 0;
    color: #fff;
    width: 100%;
}

.block.block-block.sponsors-block {
    padding-top: 25px;
}

.isotope .isotope-item {
    transition-property: transform, opacity;
}

.isotope, .isotope .isotope-item {
    transition-duration: 0.8s;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope-item {
    z-index: 2;
}

#footer .container.section.footer {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    min-height: 300px;
    width: 100%;
}

#footer{
    background: rgba(0, 0, 0, 0) url("../images/bottom-image.jpg") repeat scroll 0 bottom;
	background-size: 100% auto;
    position: relative;
}

.front .tabs {
    display: none;
}

.vdh-mask {
    display: none;
}

h1.title {
    color: #99A4A8;
}

label {
    display: block;
    font-weight: 400;
    padding-bottom: 10px;
}

input.form-text {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px; 
	margin-bottom: 10px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; 
}

select.form-select {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px; 
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; 
	min-width: 200px;
}

input.form-text:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}

.form-item, .form-actions {
    margin: 10px 0;
}

.form-item .form-item {
    margin: 0;
}

@font-face {
    font-family: 'si';
    src: url('../socicon/socicon.eot');
    src: url('../socicon/socicon.eot?#iefix') format('embedded-opentype'),
         url('../socicon/socicon.woff') format('woff'),
         url('../socicon/socicon.ttf') format('truetype'),
         url('../socicon/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(PATH_TO/socicon.svg) format(svg);
    }
}

.soc {
    bottom: 10px;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 100px;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 33px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 17px;
    color: #ffffff;
    background-color: none;
}

.soc a:hover {
    z-index: 2;
    
}

.soc-icon-last{
    margin:0 !important;
}

.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'b';
}
.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'a';
}
.soc-google {
    background-color: #d93e2d;
}
.soc-google:before {
    content:'c';
}
.soc-linkedin {
    background-color: #3371b7;
}
.soc-linkedin:before {
    content:'j';
}
.soc-pinterest {
    background-color: #c92619;
}
.soc-pinterest:before {
    content:'d';
}

.soc-facebook:hover {
    background-color: #526fac;
}
.soc-twitter:hover {
    background-color: #61bbf2;
}
.soc-google:hover {
    background-color: #ed5241;
}
.soc-linkedin:hover {
    background-color: #4785cb;
}
.soc-pinterest:hover {
    background-color: #dd3a2d;
}

#footer-copyrights {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    text-align: center;
}

.not-front #header {
    background: rgba(0, 0, 0, 0) url("../images/bmore.jpg") repeat scroll 0 0;
    position: relative;
}

.not-front .logo-content {
    margin: 0;
    padding: 136px 0 50px;
    position: static;
}

input.form-submit:hover{
    background: #2a95be none repeat scroll 0 0;
}

input.form-submit {
    background: #99A4A8 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    display: inline-block;
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 10px 24px;
    transition: color 400ms ease 0s, background-color 400ms ease 0s;
}

/* styles for Submitted sessions page */

.view-submitted-sessions ul li {
  	margin: 0 0 20px 0;
  	list-style-type: none;
	font-size: 0.9em;
	line-height: 1.4em;
}
.view-submitted-sessions ul li .views-field .field-content {
	display: inline;
}

.view-submitted-sessions ul li .views-field .views-label {
	font-weight: bold;
}

.view-submitted-sessions ul li .views-field-field-session-title {
	font-weight: bold;
	font-size: 1.2em;
}
.view-submitted-sessions ul li .views-field-field-description {
	font-style: italic;
}

@media only screen and (max-width: 500px) {

body { 
    font-size: 14px; 
}

.container {
    margin: 0 auto;
    width: 100%;
}

#header {
    height: auto !important;
    position: relative;
}
 
#block-block-1 {
    display: none;
}

.not-front .logo-content,
.logo-content {
    font-size: 15px;
    font-weight: 500;
    margin: 0 auto;
    padding: 0;
    position: static;
    width: 90%;
}

.logo-content > a {
    float: left;
    width: 78px;
}

.logo-content h1 {
    font-size: 22px;
}

.logo-content p {
    font-size: 15px;
}

#block-block-3 {
    background-image: url("../images/bottom-image.jpg");
    background-position: center center;
    background-size: cover;
    float: left;
    height: 200px;
    position: relative;
    width: 100%;
}

.logo-right {
    margin-top: 70px;
}

.button-wrapper a.btn.blue.big {
    background: #2a95be none repeat scroll 0 0;
    border: 1px solid #2481a5;
    box-shadow: 0 1px 3px #2481a5;
    box-sizing: border-box;
    font-size: 15px;
    margin: 0;
    padding: 10px 0;
    width: 50%;
}

.button-wrapper {
    border-top: 4px solid #000;
    clear: both;
    left: 0;
    padding-top: 0;
    position: absolute;
    text-align: center;
    top: 200px;
    width: 100%;
}


.logo-content > a { 
    margin-top: -20px; 
}

.block.block-system.block-menu {
    background: transparent none repeat scroll 0 0;
    box-shadow: none;
    left: 0;
    position: absolute;
    top: 60px;
    width: 100%;
}

.block.block-system.block-menu .content {
    float: left;
    margin: 0 auto;
    overflow: visible;
    width: 100%;
}

.block.block-system.block-menu ul {
    display: none;
    float: left;
    width: 100%;
}

.block.block-system.block-menu ul li { 
    width: 100%;
}

.block.block-system.block-menu ul li a.active, .block.block-system.block-menu ul li a:hover {
    background: #2481a5 none repeat scroll 0 0;
    border-top: medium none;
    color: #000;
    padding-top: 10px;
}

.block.block-system.block-menu ul li a {
    background: #2481a5 none repeat scroll 0 0;
    border-bottom: 1px solid #1a5a74;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
}

#main {
    padding: 100px 10px 10px;
}

h1.title, h2 { 
    font-size: 20px; 
}

input.form-submit,
a.btn.blue.big {
    background: #2a95be none repeat scroll 0 0; 
    font-size: 14px; 
    padding: 10px;
}

.parking-block .inner-content {
    padding: 0;
    width: 100%;
}

span.fa.fa-list-ul {
    background-image: url("../images/menu.jpg");
    cursor: pointer;
    display: block;
    height: 49px;
    position: absolute;
    right: 10px;
    top: -50px;
    width: 49px;
}

#sponsors .content { 
    padding: 0;
    text-align: center;
    width: 100%;
}

.parking-block .content-left {
    background: #fff none repeat scroll 0 0;
    float: left;
    max-width: 400px;
    text-align: center;
    width: 100%;
}

.parking-block .content-left img {
    max-width: 200px;
}


.parking-block .content-right {
    background: rgba(0, 0, 0, 0) url("../images/car-park.jpg") repeat scroll 0 0 / cover ;
    box-sizing: border-box;
    float: right;
    padding: 0 10px;
    width: 100%;
}

.parking-block h3 {
    color: #fff;
    font-size: 18px;
    margin: 20px 0 10px;
}

#sponsors .content .sponsors-filter {
    display: none;
}

.parking-block {
    background: transparent none repeat scroll 0 0;
}

.isotope, .isotope .isotope-item {
    height: auto !important;
    padding: 20px 10px; 
}

#sponsors h3.sponsors-item {
    border-bottom: 1px solid #e5e5e5;
    clear: both;
    color: #99a4a8;
    display: block;
    float: none;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 4px;
    position: static !important;
    text-align: left;
    text-transform: capitalize;
    transform: none !important;
    width: auto;
}

#sponsors .content div.sponsors-item {
    display: block;
    float: left;
    height: auto;
    margin: 20px;
    min-width: 200px;
    padding: 0;
    position: static !important;
    transform: none !important;
}

#footer {
    background: #242424 none repeat scroll 0 0;
    padding: 20px;
    position: relative;
    text-align: center;
}

#footer .container.section.footer {
    background: transparent none repeat scroll 0 0;
    min-height: auto;
    width: 100%;
}

.soc {  
    position: static; 
}

.soc li a {
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    font-family: si !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    margin-right: 17px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translateZ(0px);
    transition: transform 0.1s ease 0s;
    width: 40px;
    z-index: 1;
}

fieldset {
    box-sizing: border-box;
    margin-bottom: 1em;
    padding: 0.5em;
    width: 100%;
}

input.form-text, select.form-select {
    box-sizing: border-box;
    width: 100%;
}

ul.primary {
    border: medium none;
    margin: 10px 0 30px;
    padding: 0;
}

ul.primary li {
    display: block;
}

ul.primary li a {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #1f6f8e !important;
    display: block;
    padding: 10px;
}

ul.primary li.active a {
    background: #2481a5 none repeat scroll 0 0;
    color: #fff;
}

}
